/* Remove default styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    width: 100%;
    max-width: 1440px;
    margin: 0 auto;
}


/* Slider */

input[type="radio"] {
    display: none;
}

.slider-wrapper {
    width: 70%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    overflow: hidden;
}

.text-and-controls-section {
    height: 100px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.slider-controls {
    display: flex;
    width: 50%;
}

.dot-label {
    width: 50px;
    height: 50px;
    background-color: blue;
    border: 10px solid #ffffff;
    border-radius: 50%;
    cursor: pointer;
}

.images-slider {
    width: 400%;
    height: 400px;
    display: flex;
    background-color: lightskyblue;
}

.image-slide {
    display: inline-block;
    text-align: center;
    width: 25%;
    transition: all 0.5s ease-in-out;
}

.meme-img {
    margin: 0 auto;
    height: 100%;
}

.descriptions-slider-wrapper {
    width: min-content;
    overflow: hidden;
}

.descriptions-slider {
    width: 400%;
    display: flex;
}

.meme-description {
    width: 25%;
    transition: all 0.3s ease;
}

.slider-controls {
    width: fit-content;
}

#dot1:checked ~ .images-slider .slide-start,
#dot1:checked ~ .text-and-controls-section .slide-start {
    margin-left: 0%;
}

#dot2:checked ~ .images-slider .slide-start,
#dot2:checked ~ .text-and-controls-section .slide-start {
    margin-left: -25%;
}

#dot3:checked ~ .images-slider .slide-start,
#dot3:checked ~ .text-and-controls-section .slide-start {
    margin-left: -50%;
}

#dot4:checked ~ .images-slider .slide-start,
#dot4:checked ~ .text-and-controls-section .slide-start {
    margin-left: -75%;
}

#dot1:checked ~ .text-and-controls-section label[for="dot1"],
#dot2:checked ~ .text-and-controls-section label[for="dot2"],
#dot3:checked ~ .text-and-controls-section label[for="dot3"],
#dot4:checked ~ .text-and-controls-section label[for="dot4"] {
    background-color: maroon;
}