/* Font */

@font-face {
    font-family: "Quicksand";
    src: url("assets/fonts/Quicksand/static/Quicksand-Light.ttf");
    font-weight: 300;
}

@font-face {
    font-family: "Quicksand";
    src: url("assets/fonts/Quicksand/static/Quicksand-Regular.ttf");
    font-weight: 400;
}

@font-face {
    font-family: "Quicksand";
    src: url("assets/fonts/Quicksand/static/Quicksand-Medium.ttf");
    font-weight: 500;
}

@font-face {
    font-family: "Quicksand";
    src: url("assets/fonts/Quicksand/static/Quicksand-SemiBold.ttf");
    font-weight: 600;
}

@font-face {
    font-family: "Quicksand";
    src: url("assets/fonts/Quicksand/static/Quicksand-Bold.ttf");
    font-weight: 700;
}

/* Remove default styles */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 16px;
}

.container {
    width: 90vw;
    margin: 0 auto;
}

h1 {
    font-family: "Quicksand", sans-serif;
    font-weight: 700;
    font-size: 2.5rem;
    text-align: center;
}


/* Slider */

input[type="radio"] {
    display: none;
}

.slider-wrapper {
    width: 100%;
    height: fit-content;
    display: flex;
    flex-direction: column;
    row-gap: 1rem;
    overflow: hidden;
}

.text-and-controls-section {
    height: fit-content;
    display: flex;
    justify-content: space-between;
}

.slider-controls {
    display: flex;
}

.dot-label {
    width: 3rem;
    height: 3rem;
    background-color: blue;
    border: 1rem solid #ffffff;
    border-radius: 50%;
    cursor: pointer;
}

.images-slider {
    width: 400%;
    height: 40vw;
    display: flex;
}

.image-slide {
    display: inline-block;
    text-align: center;
    width: 25%;
    transition: all 0.5s ease-in-out;
    overflow: hidden;
}

.meme-img {
    margin: 0 auto;
    width: 100%;
}

.descriptions-slider-wrapper {
    width: min-content;
    overflow: hidden;
}

.descriptions-slider {
    width: 400%;
    display: flex;
}

.meme-description {
    width: 25%;
    font-family: "Quicksand", sans-serif;
    font-weight: 500;
    font-size: 2rem;
    transition: all 0.3s ease;
}

.slider-controls {
    width: fit-content;
}

#dot1:checked ~ .images-slider .slide-start,
#dot1:checked ~ .text-and-controls-section .slide-start {
    margin-left: 0%;
}

#dot2:checked ~ .images-slider .slide-start,
#dot2:checked ~ .text-and-controls-section .slide-start {
    margin-left: -25%;
}

#dot3:checked ~ .images-slider .slide-start,
#dot3:checked ~ .text-and-controls-section .slide-start {
    margin-left: -50%;
}

#dot4:checked ~ .images-slider .slide-start,
#dot4:checked ~ .text-and-controls-section .slide-start {
    margin-left: -75%;
}

#dot1:checked ~ .text-and-controls-section label[for="dot1"],
#dot2:checked ~ .text-and-controls-section label[for="dot2"],
#dot3:checked ~ .text-and-controls-section label[for="dot3"],
#dot4:checked ~ .text-and-controls-section label[for="dot4"] {
    background-color: maroon;
}

@media (max-width: 425px) {
    .slider-wrapper {
        row-gap: 1vw;
    }

    .text-and-controls-section {
        flex-direction: column-reverse;
        row-gap: 1vw;
    }

    .descriptions-slider-wrapper {
        width: 100%;
    }

    .slider-controls {
        align-self: center;
    }

    .dot-label {
        width: 4vw;
        height: 4vw;
        border: 1vw solid #ffffff;
    }

    .meme-description {
        font-size: 1rem;
    }

    h1 {
        font-size: 1.5rem;
    }

}